.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full page height */
    padding: 20px;
    background-color: #f0f0f0;
  }
  h1 {
    text-align: center;
    color: #444;
  }
  .dropdown-container {
    width: 300px; /* Set a fixed width for the dropdown */
    margin: 15px 0;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #999;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
  }
  
  button:hover {
    color: #333;
  }
  
  .dropdown-list {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 20%;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-item strong {
    color: black; /* Highlighted matching text in blue */
  }
  
  /* Center the selection text */
  .selected-item {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  /* Style the reset button */
  .reset-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 100px;
    position: absolute;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  
  